*{
    box-sizing: border-box;
}
body{
    margin: 0;

}
body hr{
    border: 1px solid cornflowerblue;
    padding-right: 20px;
}
.body{
    display: flex;
}
.body a{
    text-decoration: none;
    color: rgb(166, 202, 149);
}
.body a:hover{
    text-decoration: underline;
    color: black;

}
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(112, 110, 108);
    padding: 10px;
    color: rgb(182, 230, 233);
    font-size: 14px;
    z-index: 4;
    box-shadow: 0 4px 5px  rgba(0, 0, 0, 0.2);
}
.header-h1{
    float: left;
    width: calc(100% - 30%);
    margin-top: 10px;

}
.header Nav a{
    padding: 10px;
    color: white;
    text-decoration: none;

}
.header Nav a:hover{
    text-decoration: underline;
    color: black;
}
.header Nav {
    float: right;
    width: 30%;
    margin: 20px 0;
    z-index: 2;
    text-align: right;
}
.banniere{
    height: 400px;
    background: no-repeat center / cover url(img/eggs.jpg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.main{
    margin-top:0px;
    z-index: 3;
    display: flex;
}
.main-div1{
    padding-top: 10px;
    width: calc(100% - 200px);
    box-shadow: 0 5px 24px  rgba(65, 65, 65, 0.425);
    z-index: 2;

}
.article{
    position: relative;
    margin: 50px auto;
    padding-left: 333px;
    min-height: 232px;
    max-width: 800px;
}
.article h2::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: hotpink;
}
.article1 img{
 position: absolute;
 left: 0;
 top: 0;
 width: 308px;
 margin-right: 25px;

}
.article1 img:hover{
    transform: scale(1.1) rotate(-10deg);
    transition: 2s;
}
.main-div2{
    padding: 0 15px;
    width: 200px;
    background-color:#ccc;
    z-index: 1;
}

.footer1{
    display: flex;
    position: relative;
    background-color:rgba(209, 146, 135, 0.877);

}
.footer1 li::before{
    content: "-";
}
.form{ 
    display: flex; 
    padding-right: 100px;
    position: relative;
    width: calc(100% - 300px);
    background-color: rgba(95, 186, 214, 0.658);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}
.form input:hover, .form textarea:hover {
    border: 2px solid rgb(202, 196, 194);

}
.form fieldset{
    position: relative;
    top: 0;
    left: 0;
    margin: 20px 20px 100px 20px;
    width: 418px;

}
.form1{
 
    padding: 10px 0;
}
.text1{
    margin-left: 25px;
}
.form2{
    position: relative;
    top: 0;
    right: 0;
    width: clac(100%-418px);
    margin: 20px 20px;
    line-height: 1.6;
   
}
.form2 a{ 
    text-decoration: none;
    color: black;
    list-style: none;
}
.form2 a:hover{ 
    text-decoration: underline;
    color: white;
}
.button {
    font-size: 0.9em;
    font-weight: 510;
    color: rgb(100, 99, 99);
    
}
.button:hover{
    border: 1.5px solid rgba(116, 113, 113, 0.877);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.418);
    color: black;
}
.main-footer{
    padding: 0 30px;
    width: 300px;
    background-color: white;
    line-height: 1.6;


}
.main-footer h2{
    margin-bottom: -10px;
}
.main-footer a{
    color:black;
    text-decoration: none;
    list-style: none;

}
.main-footer a:hover{
    text-decoration: underline;
    color: rgb(54, 179, 168);
}
.foot{
    background-color: seashell;
    height: 30px;
    padding: 10px 0 20px 20px;
    border: 1px solid black;

}
